.SavedPlaylist {
    padding: .8rem;
    display: flex;
    justify-content: space-between;
    background-color: #F3F3F3;
    margin-bottom: .3rem;
    border-radius: 0.3rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.SavedPlaylist h2 {
    font-weight:normal;
}