html, body {
  /* height: 100%; */
  /* background-color: #2c3134; */
}

.App-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.login h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-top: 4rem;
}

.highlight {
  color: #1db954;
}

.Button-spotify {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: #1db954;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background-color 0.2s ease-in-out;
}

.Button-spotify:hover {
  background-color: #1ed760;
}

.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.sidebar {
  flex: 0 0 25%; /* Set the width of the sidebar to 25% of the layout */
  background-color: #f2f2f2; /* Add a background color to the sidebar */
}

.main {
  flex: 0 0 75%; /* Set the width of the main content area to 75% of the layout */
  background-color: #fff; /* Add a background color to the main content area */
}