.SongBrowser {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    margin-bottom: 1rem;
}

li {
    font-weight: bold;
}

li:hover {
    color: #6c41ec;
}