.SongBrowser {
    
}

.SongBrowser nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    margin-bottom: 1rem;
}
  
.SongBrowser nav li {
    font-weight: bold;
}
  
.SongBrowser nav li:hover {
    color: #ff0000;
    cursor: pointer;
}

.content {
    
}
  