.TopSongs {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding: .88rem;
    background-color: #f7f7f7;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      /* background: transparent; */
  }
  
  @media only screen and (max-width: 1020px) {
    .TopSongs {
      width: 90%;
      margin-bottom: 2rem;
    }
  }