.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1f22;
    padding: 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.88rem;
}

#sign-out {
    font-family: 'Poppins', sans-serif;
    padding: 6px 14px;
    color: #fff;
    background: #6c41ec;
    border: none;
    border-radius: 2px;
}