.footer {
    width: auto;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .app-name-footer {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    margin-left: auto;
    font-weight: 600;
  }
  